.calendar-card {
    width: 100%; /* Full width of the container */
    max-width: 200px; /* Set a smaller max width */
    height: auto; /* Allow height to adjust based on content */
    overflow: hidden; /* Prevent overflow */
  }
  
  .react-calendar {
    width: 100%; /* Ensure it scales responsively */
    max-width: 100%; /* Ensure it does not exceed container */
  }
  .react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    border: none !important;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

.react-calendar__tile--active {
    background: #647182;
    border-radius: 20%;
    color: white;
}
  .react-calendar__month-view {
    font-size: 0.875rem; /* Smaller font size for dates */
  }
  
  .react-calendar__tile {
    max-width: 100%; /* Scale individual tiles */
  }
  
  .react-calendar__navigation button {
    min-width: 32px;
    color: #4b5563;
  }

  abbr:where([title]) {
    text-decoration: underline dotted;
    color: #4b5563;
}
  
  .react-calendar__month-view__days__day {
    padding: 0.5rem; /* Reduce padding for tiles */
    height: 30px; /* Set a fixed height for the tiles */
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: red; /* Customize weekend day colors */
  }

  .react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button{
    display: none;
  }

  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 0;
}

.react-calendar__month-view__days__day {
    padding: 0px;
    height: 23px;
}
.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
  background: #9caabc;
}